
img {
    height: 50px;
    font-weight: 50px;
}
div {
    align-items: center;
    /* border: 1px solid; */
    width: 500px;
    height: 130px;
    display: flex;

}
nav {
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    width: 450px;
    justify-content: space-around;
    /* text-decoration: color black; */
    
}
.cm{
    font-size: 27px;
    display: inline-block;
    margin-left: 5px;


}
header {
    display: flex; justify-content: space-around ;
    background-color: rgb(24, 24, 223);
}

.MK{
    color: white;
    font-size: 27px;
  

}
a {
    text-decoration: none;
    font-size: large;
    color: aliceblue;
    margin-left: 10px;

}

.button-Home{
   margin-left: 5px;
}


a:hover {
    border-bottom: 2px solid; 
    color: black;
    opacity: 0.4;
 


}